@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f0eee5;
    --foreground: #29261b;
    --footer: #141413;
    --footer-foreground: #b0aea5;
    --primary: #ba5b38;
    --primary-foreground: #fff;
    --accent: #f8f8f7;
    --accent-foreground: #29261b;
    --secondary: #e8e5d8b3;
    --secondary-foreground: #3d3929;
    --muted: #ded8c4;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;
    --card: 0 0% 98%;
    --card-foreground: 0 0% 10%;
    --border: #706b5740;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply scroll-smooth;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-70%);
  }
}

@media (max-width: 768px) {
  .animate-scroll {
    animation: scroll 8s linear infinite;
  }
}

@media (min-width: 769px) {
  .animate-scroll {
    animation: scroll 40s linear infinite;
  }
}

.markdown td:last-child {
  border-right-width: 1px;
}
